NODE_ENV=development
PORT=3000
DEBUG=

TELEGRAM_TOKEN=
OPENAI_API_KEY=
MONGODB_CONNECT_STRING=mongodb://localhost:27017

WEATHER_API_KEY=
THE_NEWS_API_KEY=
NEWS_API_KEY=

BUNNY_FILES_STORAGE_URL=https://storage.bunnycdn.com/<storage-zone>
BUNNY_FILES_STORAGE_KEY=
FILES_ENDPOINT=https://<pull-zone>.b-cdn.net
